.navLink {
    @apply text-gray-800 font-medium hover:text-orange-500 transition duration-300;
  
    &.active {
      color: #f5854f;
    }
  }
  
  .cartIcon {
    position: relative;
    cursor: pointer;
  }
  
  .badge {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 1px 6px;
    border-radius: 999px;
  }
  